<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirige todo a HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Sirve assets directamente
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_URI} \.(js|css|jpg|jpeg|png|gif|ico|svg|woff|woff2|ttf|eot)$ [NC]
    RewriteRule ^ - [L]
    
    # Redirige a index.php para rutas frontend
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>